<%= form_for ([@recipe, @recipe.comments.build])  do |f| %>

   <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <%= f.label :commenter, "NOME" %>
        <div class="small-12 columns">
          <%= f.text_field :commenter , placeholder: "Seu nome", required: true  %>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <%= f.label :body, "COMENTÃRIO" %>
        <div class="small-12 columns">
          <%= f.text_area :body , placeholder: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",  cols: 20, rows: 5, required: true  %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="clearfix">
          <button class="small button right" name="submit" value="submit" type="submit">PUBLICAR</button>
      </div>
    </div>
  </div>
 
<% end %>