<%= form_for ([@article, @article.comments.build])  do |f| %>

   <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <%= f.label :commenter, "NOME" %>
        <div class="small-12 columns">
          <%= f.text_field :commenter , placeholder: "Seu nome", required: true  %>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <%= f.label :body, "COMENTÁRIO" %>
        <div class="small-12 columns">
          <%= f.text_area :body , placeholder: "Deixe aqui seus comentários! Sua opinião é muito importante para nós ;)",  cols: 20, rows: 5, required: true  %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="clearfix">
          <button class="small button right" name="submit" value="submit" type="submit">PUBLICAR</button>
      </div>
    </div>
  </div>
 
<% end %>