<div class="callout large primary">
  <div class="row large-centered column text-center">
    <h1>Mindful Life</h1>
    <h2 class="subheader">For a conscious and happy life.</h2>
  </div>
</div>

<!-- We can now combine rows and columns when there's only one column in that row -->
<div class="row medium-8 large-7 large-centered columns">

  <% @articles.each do |article| %>
  <div class="blog-post">
    <h3><%= article.title %> </h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p><%= article.text %></p>
    <div class="row" >
      <div class="large-12 columns">
        <%= link_to 'Ler mais', article_path(article), {class:"small button", style: "color:#FFFFFF;"} %>
        <%if @current_user != nil && @current_user.user_type == "admin" %>
          <%= link_to 'Editar', edit_article_path(article), {class:"small button", style: "color:#FFFFFF;"} %>
          <%= link_to 'Deletar', article_path(article),{class:"small button", style: "color:#FFFFFF;", method: :delete,
          data: { confirm: 'Tem certeza que deseja exlcuir esse artigo?'}} %>
        <%end%>
      </div>
    </div>
    <div class="panel">
      <div class="row" >
        <div class="large-12 columns">
          <a href="#">Escrito em <%= article.created_at.strftime("%d-%m-%Y")%> por Gabriela Botelho</a>
        </div>
      </div>
      <div class="row" >
        <div class="large-12 columns">
          <a href="#"><%= article.comments.count %> Comentários</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
    



