<div class="row medium-8 large-7 large-centered columns">
  <div class="blog-post">
    <div class="text-center">
      <h3><%= @article.title %> </h3>
    </div>
    <%= image_tag(@article.image.url(:extralarge) , class: 'media-object') %>
    <p><%= simple_format(@article.text) %></p>
    <div class="row" >
      <div class="large-12 columns">
        <%if @current_user != nil && @current_user.user_type == "admin" %>
          <%= link_to 'Editar', edit_article_path(@article), {class:"small button", style: "color:#FFFFFF;"} %>
          <%= link_to 'Deletar', article_path(@article),{class:"small button", style: "color:#FFFFFF;", method: :delete,
          data: { confirm: 'Tem certeza que deseja exlcuir esse artigo?'}} %>
          <%= link_to "Voltar", articles_path, {class:"small button", style: "color:#FFFFFF;"} %>
        <%end%>
      </div>
    </div>
	<div class="row" >
		<div class="large-12 columns">
		  <p><a href="#">Escrito em <%= @article.created_at.strftime("%d-%m-%Y")%> por Gabriela Botelho</a></p>
		</div>
	</div>
	<div class="row" >
      <div class="large-12 columns">
      <h5>DEIXE SEU COMENTÁRIO</h5>
      <div class="panel">
  		  <%= render 'comments/form' %>
      </div>
      </div>
    </div>
    <div class="row" >
      <div class="large-12 columns">
        <h5>COMENTÁRIOS</h5>
        <% if @article.comments.count > 0 %>
          <div class="panel">
				    <%= render @article.comments.reject(&:new_record?) %>
    			</div>
    		<% else %>
    			<p>Esse post ainda não foi comentado. Seja o primeiro!</p>
    		<% end %>
      </div>
    </div>
  </div>
</div>
