<div class="row">
  <div class="large-12 columns">
    <h1><center>Escolha os alimentos que você gosta:</center></h1>
  </div>
</div>

<% if notice != nil %>
  <div id="notice" class="row error">
    <div class="large-12 columns">
      <small class="error"><center><%= notice %></center></small>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
  <center>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Image</th>    
            <th>Favorite</th>
            <th>Select</th>
          </tr>
        </thead>
         <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <td><%= image_tag food.image.url %></td>
              <td><%= @foods_person.include?(food) %></td>
              <td><%= link_to @person.foods.include?(food) ? "Unselect" : "Select", select_unselect_food_path(food, @person) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </center>
  </div>
</div>