<div class="row">
  <div class="large-12 columns">
    <h3><center>Voce gosta de <%=@foods_non_evaluated.first.name%> ?</center></h3>
  </div>
</div>

<% if notice != nil %>
  <div id="notice" class="row error">
    <div class="large-12 columns">
      <small class="error"><center><%= notice %></center></small>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <center>
      <%= image_tag(@foods_non_evaluated.first.image.url,  border: 2) %>
    </center>
  </div>
</div>

<div class="row marginTop20">
  <div class="large-12 columns">
    <center>
      <div class="small-6 columns">
        <%= link_to image_tag("cross-empty.png", height: "70", width: "70"), list_one_food_path(@person), class:"cross right circular" %>
      </div> 
      <div class="small-6 columns">
        <%= link_to image_tag("heart-empty.png", height: "70", width: "70"), select_food_path(@foods_non_evaluated.first , @person), class:"like left circular" %>
      </div>            
    </center>
  </div>
</div>