<%= form_for @diet do |f| %>
 
<!--   <% if @diet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@diet.errors.count, "error") %> prohibited
        this diet from being saved:
      </h2>
      <ul>
        <% @diet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> -->
 
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :calories %>
      <div class="row">
        <div class="small-10 columns">
          <div class="range-slider" data-slider="<%=@diet.calories%>" data-options="display_selector: #calories_input;start: 1200; end: 1600; step: 10">
            <span class="range-slider-handle" role="slider" tabindex="0" ></span>
            <span class="range-slider-active-segment"></span>
            <%= f.hidden_field :calories %>
          </div>
        </div>
        <div class="small-2 columns">
          <input type="number" id="calories_input" name="calories_input" value="<%=@diet.calories%>" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :carbohydrate_percentage, "Carboidratos (%)" %>
      <div class="row">
        <div class="small-10 columns">
          <div class="range-slider" data-slider="<%=@diet.carbohydrate_percentage%>" data-options="display_selector: #carbohydrate_percentage_input;initial: 34;">
            <span class="range-slider-handle" role="slider" tabindex="0" ></span>
            <span class="range-slider-active-segment"></span>
            <%= f.hidden_field :carbohydrate_percentage %>
          </div>
        </div>
        <div class="small-2 columns">
          <input type="number" id="carbohydrate_percentage_input" name="carbohydrate_percentage_input" value="<%=@diet.carbohydrate_percentage%>" />
        </div>
      </div>
      <% if @diet.errors.added?(:base, "A soma das % precisa totalizar 100%.") %>
        <small class="error">A soma das % precisa totalizar 100%.</small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :protein_percentage, "Proteínas (%)" %>
      <div class="row">
        <div class="small-10 columns">
          <div class="range-slider" data-slider="<%=@diet.protein_percentage%>" data-options="display_selector: #protein_percentage_input;initial: 33;">
            <span class="range-slider-handle" role="slider" tabindex="0" ></span>
            <span class="range-slider-active-segment"></span>
            <%= f.hidden_field :protein_percentage %>
          </div>
        </div>
        <div class="small-2 columns">
          <input type="number" id="protein_percentage_input" name="carbohydrate_percentage_input" value="<%=@diet.protein_percentage%>" />
        </div>
      </div>
      <% if @diet.errors.added?(:base, "A soma das % precisa totalizar 100%.") %>
        <small class="error">A soma das % precisa totalizar 100%.</small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :fat_percentage, "Gorduras (%)" %><br>
      <div class="row">
        <div class="small-10 columns">
          <div class="range-slider" data-slider="<%=@diet.fat_percentage%>" data-options="display_selector: #fat_percentage_input;initial: 33;">
            <span class="range-slider-handle" role="slider" tabindex="0" ></span>
            <span class="range-slider-active-segment"></span>
            <%= f.hidden_field :fat_percentage %>
          </div>
        </div>
        <div class="small-2 columns">
          <input type="number" id="fat_percentage_input" name="carbohydrate_percentage_input" value="<%=@diet.fat_percentage%>" />
        </div>
      </div>
      <% if @diet.errors.added?(:base, "A soma das % precisa totalizar 100%.") %>
        <small class="error">A soma das % precisa totalizar 100%.</small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="clearfix">
          <h4 class="left">Passo 2 de 5</h4>
          <button class="small button right" name="submit" type="submit">Continuar</button>
          <%= link_to 'Voltar', edit_person_path(@diet.person), class:"small button right secondary" %>
      </div>
    </div>
  </div>
 
<% end %>