<div class="row">
	<div class="large-12 columns">
	  <div class="clearfix">
	  	<center>
	      <h3>A dieta que mais combina com você é:</h3>
	    </center>
	  </div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
	  <div class="clearfix">
	  	<center>
	      <h1><%= @diet.name %></h1>
	    </center>
	  </div>
	</div>
</div>
 
<div class="row">
	<div class="large-12 columns">
	  <div class="clearfix">
	  	<center>
	      <%= image_tag @diet.image.url %>
	    </center>
	  </div>
	</div>
</div>
 
 <div class="row marginTop50">
	<div class="large-12 columns">
	  <div class="clearfix">
	  	<center>
	      <p class="text-center"><%= simple_format(@diet.description)%></p>
	    </center>
	  </div>
	</div>
</div>

  <div class="row">
    <div class="large-12 columns">
      <div class="clearfix">
      	<center>
			<h5><%= link_to 'Veja uma sugestão de dieta para você', personalize_diet_path(@person, @diet), {class:"small button", style: "color:#FFFFFF;"} %></h5>
<!-- 			<h5><%= link_to 'Monte sua dieta personalizada', edit_diet_path(@person.diets.first), {class:"small button", style: "color:#FFFFFF;"} %></h5> -->
		</center>
      </div>
    </div>
  </div>

